.collapse-container {
    margin: 0 auto 150px auto;
    max-width: 1920px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

@media screen and (max-width: 768px) {
    .collapse-container {
        gap: 20px;
    }
}
