.home-gallery {
    background-color: #f7f7f7;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto 43px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
    padding: 56px 60px;
}

@media screen and (max-width: 768px) {
    .home-gallery {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: #ffffff;
        gap: 20px;
    }
}
