.kasa-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 63px auto;
    max-width: 1920px;
    width: 90%;
}

.kasa-header-logo {
    width: 210px;
}

.kasa-header-list {
    display: flex;
    gap: 57px;
}

.kasa-link-inactive {
    color: #ff6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
}

.kasa-link-active {
    color: #ff6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .kasa-header {
        margin: 20px auto 16px auto;
    }

    .kasa-header-logo {
        width: 130px;
    }

    .kasa-header-list {
        gap: 10px;
        padding: 0;
    }

    .kasa-link-active,
    .kasa-link-inactive {
        font-size: 12px;
        text-transform: uppercase;
    }
}
