.tag-list {
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

.tag-element {
    background-color: #ff6060;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
}
